<div class="ranking-no-data" ng-if="!ranking || !ranking.entries || ranking.entries.length == 0">
</div>
<div ng-if="ranking && ranking.entries && ranking.entries.length > 0">
<div layout="row" class="hero-entries-container">
  <!-- big image -->
  <div flex="50" class="super-hero-entry-container">
    <somusic-entry entry="ranking.entries[0]" hero="true"/>
  </div>
  <div flex="25">
    <div layout="column">
      <div class="hero-entry-container-1">
        <somusic-entry entry="ranking.entries[1]" hero="true"/>
      </div>
      <div class="hero-entry-container-3">
        <somusic-entry entry="ranking.entries[3]" hero="true"/>
      </div>
    </div>
  </div>
  <div flex="25">
    <div layout="column">
      <div class="hero-entry-container-2">
        <somusic-entry entry="ranking.entries[2]" hero="true"/>
      </div>
      <div class="hero-entry-container-4">
        <somusic-entry entry="ranking.entries[4]" hero="true"/>
      </div>
    </div>
  </div>
</div>

<div layout="row" layout-wrap>
  <div class="entry-container" ng-if="$index > 4" ng-repeat="entry in ranking.entries" flex="20">
    <somusic-entry entry="entry"/>
  </div>
</div>
</div>
