<div class="somusic-entry" layout="column" layout-xs="row" ng-click="updatePlayer();" >
  <img class="somusic-entry-image" ng-src="{{entry.image}}" flex-xs="none"/>
  <div ng-if="entry.count" class="somusic-entry-rating">{{entry.count}}</div>
  <div ng-class="{'somusic-entry-details-for-hero': hero}" class="somusic-entry-details">
    <div class="somusic-entry-detail somusic-entry-detail-artist" title="{{entry.artist}}">
      {{entry.artist}}
    </div>
    <div ng-if="!entry.title && !entry.album" class="somusic-entry-detail">
      &nbsp;
    </div>
    <div ng-if="entry.title" class="somusic-entry-detail" title="{{entry.title}}">
      {{entry.title}}
    </div>
    <div ng-if="!entry.title && entry.album" class="somusic-entry-detail" title="{{entry.album}}">
      {{entry.album}}
    </div>
  </div>
</div>
