.somusic-entry {
  position: relative;
  overflow: hidden;
  outline: none;
  font-size: 16px;
}

.somusic-entry:hover {
  cursor: pointer;
}

.somusic-entry-rating {
  position: absolute;
  right: 8px;
  top: 8px;
  display: block;
  padding: 8px;
  border-radius: 10px;
  height: 10px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  visibility: hidden;
}

.somusic-entry:hover .somusic-entry-rating {
  visibility: visible;
}

.somusic-entry-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.somusic-entry-details {
  overflow: hidden;
  padding: 10px;
}

.somusic-entry-detail {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.somusic-entry-detail-artist {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  font-weight: bold;
}

@media(max-width: 599px) {
  .somusic-entry-detail {
    font-size: 20px;
  }
  .somusic-entry-detail-artist {
    font-size: 14px;
  }

  img.somusic-entry-image {
    width: 78px !important;
    height: 78px !important;
  }
}

@media(min-width: 600px) {
  .somusic-entry-details-for-hero {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    visibility: hidden;
  }

  .somusic-entry:hover .somusic-entry-details-for-hero {
    visibility: visible;
  }
}
