@import url(//fonts.googleapis.com/css?family=Roboto:400,700);
body, html {
  height: 100%;
  margin: 0 auto;
}

a {
  font-weight: bold;
}

.title {
  font-weight: bold;
}

.subtitle {
  padding-left: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

md-progress-linear {
  height: 2px;
}

md-progress-linear .md-bar {
}

md-progress-linear .md-container {
  height: 2px;
}

md-progress-linear .md-container .md-bar {
  height: 2px;
}

.loadingProgress {
  visibility: hidden;
}

footer {
  height: 80px;
  padding: 8px;
}

.sidebar {
  padding: 48px;
  padding-top: 24px;
  overflow-y: auto;
}

.sidebar-section {
  margin-bottom: 24px;
}

.sidebar-section-separator {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-top: 24px;
  margin-bottom: 24px;
}

.sidebar-section-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 24px;
}

.sidebar-section-route {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  margin: 16px;
  display: block;
  font-size: 12px;
}

.sidebar-section-route.active {
  font-weight: bold;
  letter-spacing: 2px;
}

main {
  overflow-y: scroll;
  overflow-x: auto;
  padding-bottom: 16px;
  padding-right: 16px;
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
  min-height: 0px;
}
