@import url(//fonts.googleapis.com/css?family=Roboto:400,700);
/* try https://color.adobe.com/Music-Motion-Rio-color-theme-7977587/edit/?copy=true */
body, html {
  height: 100%;
  margin: 0 auto;
}

a {
  font-weight: bold;
}

.title {
  font-weight: bold;
}

.subtitle {
  padding-left: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

md-progress-linear {
  height: 2px;
}

md-progress-linear .md-bar {
}

md-progress-linear .md-container {
  height: 2px;
}

md-progress-linear .md-container .md-bar {
  height: 2px;
}

.loadingProgress {
  visibility: hidden;
}

footer {
  height: 80px;
  padding: 8px;
}

.sidebar {
  padding: 16px;
}

main {
  overflow-y: scroll;
  overflow-x: auto;
  padding-bottom: 16px;
  padding-right: 16px;
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
  min-height: 0px;
}
