body, html {
  background: -moz-linear-gradient(top, #24242c 0%, #1a191f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #24242c 0%,#1a191f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #24242c 0%,#1a191f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24242c', endColorstr='#1a191f',GradientType=0 ); /* IE6-9 */
  color: #eaeaea;
}

a {
  color: #eaeaea;
}

header md-toolbar {
  background-color: #1a191f !important;
}

.subtitle {
  color: rgb(170, 170, 170);
}

spinner {
  background-color: #1a191f;
}

md-progress-linear .md-container {
  background-color: #1a191f;
}

md-progress-linear .md-container .md-bar {
  background-color: #ed215e;
}

.sidebar-section-title {
  color: #ed215e;
}

.sidebar-section-separator {
  border-bottom-color: #ed215e;
}

footer {
  background-color: #282828;
}

footer md-toolbar {
  background-color: #ffffff !important;
}

md-tabs .md-tab {
  color: rgb(170, 170, 170);
}

md-tabs .md-tab.md-active {
  color: white;
}

md-tabs .md-tab .md-ripple-container {
  color: #ed215e;
}

md-tabs md-ink-bar {
  color: #ed215e;
  background-color: #ed215e;
}

md-tabs md-ink-bar {
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #1a191f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #ffffff;
}



/* entry.css */
.somusic-entry {
  background-color: #1a191f;
  color: white;
}

.somusic-entry-rating {
  background-color: #1a191f;
}

.somusic-entry:hover .somusic-entry-rating {
  opacity: 0.9;
}

.somusic-entry-image {
  opacity: 1;
}

.somusic-entry-image:hover {
  opacity: 0.50;
}

.somusic-entry-details-for-hero {
  background-color: #1a191f;
  opacity: 0.9;
}
