div.home {
  margin: 0 auto;
}

.period-selector {
  padding: 8px;
}

.entry-container {
  padding: 8px;
}

.hero-entries-container {
  margin: 8px;
}

.super-hero-entry-container {
}

.hero-entry-container-1 {
}

.hero-entry-container-2 {
}

.hero-entry-container-4 {
}
